body{
    background-color: #9FDDB6;
    text-align: center;
}

header{
    background-color: #377150;
}

.Objetivo{
    background-image: url(Captura\ de\ tela\ 2024-06-11\ 113539.png);
    color: white;
    margin: 10px 20px;
}