*{
    margin: 0;
}



body{
    background-color: #9FDDB6;
    text-align: center;
}

header{
    color: white;
    background-color: #377150;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.imgca{
    width: 5%;
}
.Objetivo{
    background-image: url(Captura\ de\ tela\ 2024-06-11\ 113539.png);
    color: white;
    margin: 10px 20px;
    background-size: 100% 100%;
    padding: 1px;
}

.intro{
    color: white;
}

.ciclo{
    width: 20%;
}

.icon{
    width: 5%;
}
footer{
    color: white;
    background-color: #377150;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .Objetivo{
        margin: 0;
        background-size: 100%;
        padding: 1px;
    }
}

