*{
    margin: 0;
}



body{
    background-color: #9FDDB6;
    text-align: center;
}

header{
    text-decoration: none;
    color: white;
    background-color: #377150;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.imgca{
    width: 5%;
}
.Objetivo{
    display: flex;
    flex-direction: column;
    background-image: url(Captura\ de\ tela\ 2024-06-11\ 113539.png);
    color: white;
    width: 100%;
    background-size: 100% 100%;
    padding: 10px;

}

.intro{
    display: flex;
    flex-direction: row;
    list-style-type: circle;
    color: white;
    justify-content: center;
}

.compos{
    width: 70%;
}
.ciclo{
   display: flex;
    width: 60%;
}

.icon{
    width: 5%;
}
footer{
    color: white;
    background-color: #377150;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .Objetivo{
        width: 100%;
        margin: 0;
        background-size: 100%;
        padding: 1px;
    }
}

